<!doctype html>
<html ng-app="kitchenApp">
	<head>
		<script src="js/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
		<link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body ng-controller="MainCtrl" class="default_color">

		<div class="navbar-fixed">
			<nav id="navbar" class="black">
			 <div class="row">
				 <a ng-click="unstart()" href="" id="banner">Kitchen Chef</a>
					 <ul class="right hide-on-med-and-down text">
						   <li><a href="" ng-click="view()">View</a></li>
							 <li><a href="" ng-click="add()">Add</a></li>
					 </ul>
					 <ul id="nav-mobile" class="side-nav text">
						 <li><a href="">View</a></li>
						 <li><a href="">Add</a></li>
					 </ul>
		 <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			 </div>
			</nav>
		</div>

		<div class="container">
				<div ng-show="welcome" class="row">
					<div class="col s6 white-text" id="add" ng-show="showAdd">
						<form>
							<input ng-model="newRecipeName" /><label>Recipe Name</label>
							<input ng-model="newRecipeClass" />	<label>Classification</label>
							<input ng-model="newRecipeText" /><label>Recipe</label>
							<button ng-click="addRecipe()" class="button btn-large black">Add Recipe</button>
					</form>
					</div>

					<div ng-show="showView" id="view">
						<ul>
							<span class="text big">Recipes</span>
							<li ng-repeat="recipe in recipes" class="white-text">
									<p class="text_s">Recipe Name: {{recipe.name}}<br/>Classification: {{recipe.class}}<br/>Procedure: {{recipe.text}}<br/></p>
									<button ng-click="showEdit(recipe)" class="button_s btn black">Edit</button>
									<button ng-click="removeRecipe(recipe)" class="button_s btn black">Delete</button>
							</li>
						</ul>
						<div ng-show="edit" class="col s6 white-text">
								<input ng-model="editRecipeName" />
								<input ng-model="editRecipeClass" />
								<input ng-model="editRecipeText" />
								<button ng-click="editRecipe()" class="button_s btn black" >Edit Recipe</button>
						</div>
					</div>

				</div>
		</div>

		<div id="wrapper">
			<div ng-hide="welcome">
						<a ng-click="start()" class="button btn-large black">Start</a>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
